@import "tailwindcss";

::-webkit-progress-bar {
  @apply bg-[#81BCFF] rounded-full;
}
::-webkit-progress-value {
  @apply bg-[#0178ff] rounded-r-full;
}

html {
  font-family: "Segoe Ui", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
body {
  @apply bg-[#F5FAFF];
}

aside ul li {
  .sub a::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background: #0178ff;
    left: -1rem;
    top: 50%;
    translate: -50%;
  }
  a {
    @apply flex gap-2 py-2 relative;
  }
}

form {
  label {
    @apply block;
  }
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  @apply px-4 py-2 w-full border-2 transition border-[#ddd] outline-[#81BCFF] focus-within:outline-2 focus-within:border-[#0178ff] rounded-md;
}
.btn {
  @apply font-bold px-4 py-2 rounded-xl transition bg-[#0178ff] text-white cursor-pointer focus-within:bg-white focus-within:text-[#0178ff] hover:bg-white hover:text-[#0178ff] focus-within:outline-2 hover:outline-2 outline-[#81BCFF];
}
.btn-danger {
  @apply font-bold transition cursor-pointer bg-red-600 text-white px-4 py-2 rounded-xl focus-within:bg-white focus-within:text-red-600 hover:bg-white hover:text-red-600 focus-within:outline-2 hover:outline-2  outline-red-600/20;
}
td,
th {
  @apply border-[#81BCFF] text-left p-4;
}
th {
  @apply border-b border-[#0178ff]/10;
}
tr:nth-child(even) {
  @apply bg-[#F5FAFF];
}
